* {
    color: white;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: blanchedalmond;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-del-juego {
    position: relative;
    width: 248px;
    height: 208px;
    background-color: lightseagreen;
}

.player-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    display: flex;
    gap: 0.5cm;
    align-items: flex-end;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
button {
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    height: 44px;
    border-radius: 4px;
    outline: 0;
}

input[type="text"] {
    outline: 0;
    padding-left: 0.5em;
    border: 3px solid #222034;
    width: 150px;
    text-transform: uppercase;
}

input[type="text"]:focus {
    border-color: #f000ff;
}

button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #59ff5a;
    border: 0;
    border-bottom: 2px solid #1e830b;
    cursor: pointer;
}

button:active {
    position: relative;
    top: 1px;
}

/* Characters */
.grid-cell {
    position: absolute;
    width: 25px;
    height: 20.5px;
}

.Character {
    transition: transform 0.4s;
    /* CSS transitions allows you to change property values smoothly, over a given duration.*/
    /* Cuando el personaje se mueva, animaremos ese nuevo valor con una transición. */
}

.Character.you {
    z-index: 1;
    /* Hace que tu capa esté sobre todo lo demás (para que no pase alguien más sobre ti, por ejemplo).*/
}

/* Lo siguiente muestra una flecha sobre tu cabeza. */
.Character.you .Character_you-arrow {
    display: block;
}

.Character_you-arrow {
    display: none;
    position: absolute;
    top: -18px;
    left: 5px;
    width: 7px;
    height: 7px;
    background: url(arrow.png) no-repeat no-repeat;
    object-fit: contain;
}

.Character_sprite {
    overflow: hidden;
    top: -3px;
    background: url(sps2.png);
  }

.Character[data-direction="right"][data-color = "CUCHO"] .Character_sprite {
    background-position-x: -32.8px;
    background-position-y: 0px;
}

.Character[data-direction="left"][data-color = "CUCHO"] .Character_sprite {
    background-position-x: -5px;
    background-position-y: -3px;
}


.Character_name-container {
    position: absolute;
    top: -12px;
    left: -5px;
    font-size: 5px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: rgba(51, 51, 51, 0.5);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.Character_coins {
    margin-left: 1px;
    color: gold;
}